# server options:
port = 1234
browser-port = 4321
threads = 8 # worker threads
timeout = 60 # timeout in seconds

# uncomment to set a hard limit in every query
# limit =

# if admin-user is enabled, updates require authentication
# admin-user =
# admin-password =

# if ssl-cert and ssl-key are specified https and wss will be enabled
# ssl-cert = ./path/to/cert.pem
# ssl-key = ./path/to/privkey.pem

# buffer sizes:
strings-static = 1024MB
strings-dynamic = 256MB
private-buffer = 64MB
versioned-buffer = 1024MB
tensors-static = 1024MB
tensors-dynamic = 256MB

# logging:
# log-path = ./server-log
# log-timestamp = false
# log-category = false
# log-debug = false
# log-error = true
# log-info = true
